* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

dl, ol, ul,p {
  margin: 0;
  padding: 0;
}

:root {
  --first-color: #F53838;
  --second-color: #0B132A;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #fff;
}

/* || Navbar start */
.navbar-light .navbar-nav .nav-link {
  color: #4F5665;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #F53855
}

.navbar-nav {
  align-items: center;
}

.navbar-light .navbar-toggler {
  color: #F53855;
}

.nav-btn-group {
  font-weight: 500;
  margin-top: 20px;
}

.btn-outline-signup {
  color: #F53855;
  border-color: #F53855;
  padding: 0.5rem 1.5rem;
}

.btn-outline-signup:hover {
  background-color: #F53855;
  color: #fff;
}

.nav-btn-group a.nav-link {
  color: var(--second-color);
  cursor: pointer;
}

@media (min-width: 992px) {
  .nav-btn-group {
    margin-top: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }

  .btn-outline-signup {
    margin-left: 15px;
  }

  .navbar-expand-lg {
    padding: 1rem 0;
  }
}

@media (min-width: 1200px) {
  .btn-outline-signup {
    margin-left: 25px;
    padding: 0.5rem 2.5rem;
  }

  .navbar-expand-lg {
    padding: 1.4rem 0;
  }
}

/* || Navbar end */

/* || Hero start */
.hero {
  padding: 2rem 0;
}

.hero-content {
  text-align: center;
  margin-top: 30px;
}

.hero-content h1 {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--second-color);
}

.hero-content p {
  color: #4F5665;
  margin: 30px 0 25px;
  font-size: 0.9rem;
}

.hero-btn {
  padding: 1rem 3rem;
  background-color: var(--first-color);
  color: #fff;
  font-weight: 600;
  box-shadow: 0px 4px 5px rgb(245 56 56 / 50%);
}

.hero-btn:hover {
  color: var(--first-color);
  border: 1px solid var(--first-color);
  background-color: #fff;
}

@media (min-width: 768px) {
  .hero {
    padding: 50px 0;
}

  .hero-content {
    text-align: left;
    margin-top: 0;
  }

  .hero-content h1 {
    font-size: 2.6rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-btn {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .hero {
    padding: 100px 0;
}
  .hero-content h1 {
    font-size: 3.2rem;
  }

  .hero-content p {
    margin: 30px 0;
  }
}

@media (min-width: 1400px) {
  .hero-content h1 {
    font-size: 3.8rem;
  }

  .hero-content p {
    font-size: 1.2rem;
    padding-right: 20px;
  }
}

/* || Hero end */

.icon-groups {
  padding: 0 0 2rem;
}

.icon-box {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #EEEFF2;
  padding: 60px 0;
  margin: 0 auto;
  width: 200px;
}

.icon-groups .row .col-12:last-child .icon-box{
  border: none;
}
.underlay {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFECEC;
  color: var(--first-color);
  margin-right: 50px;
  justify-self: flex-start;
}
.underlay > svg {
  width: 25px;
  height: 25px;
}

.icon-content p:first-child {
  font-weight: 700;
  font-size: 25px;
  
}

.icon-content p:last-child {
  font-size: 20px;
}

@media (min-width: 768px) {
  .icon-groups {
    padding: 1rem 0;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);
    margin-bottom: 100px;
  }
  .icon-box{
    border-bottom: none;
    border-right: 2px solid #EEEFF2;
    padding: 35px 0;
    width: auto;
    justify-content: center;
  }
  .underlay {
    margin-right: 36px;
  }
  .icon-content{
    width: auto;  
    text-align: left;
  }
  .icon-groups .row .col-md-4:last-child .icon-box{
    padding-right: none;
  }
  .icon-groups .row .col-md-4:first-child .icon-box{
    padding-left: none;
  }
}

@media (min-width: 992px) {
  .icon-groups {
    margin: 0 auto 100px;
  }
}

/* || Feature Section */
.feature {
  padding: 30px 0 80px;
}
.feature-content {
  margin-top: 50px;
}
.feature-content-heading {
  text-align: center;
  margin-bottom: 20px;
}
.feature-content-heading h2 {
  font-weight: 500;
  font-size: 35px;
  color: var(--second-color);
  margin-bottom: 15px;
  line-height: 45px;
}
.feature-content-heading p{
  color: #4F5665;
  line-height: 28px;
}
.feature-list {
  width: 212px;
  margin: 0 auto;
}
.feature-list li span{
  color: #4F5665;
  font-size: 14px;
}
.feature-list li:not(:last-child) {
  margin-bottom: 15px;
}
.feature-list li svg {
  margin-right: 10px;
}
@media (min-width: 500px) {
  .feature-content{
    padding: 0 2rem;
  }
}
@media (min-width: 768px) {
  .feature-content {
    margin-top: 0;
    padding: 0;
}
  .feature {
    padding: 30px 0 100px;
  }
  
  .feature-content-heading {
    text-align: left;
  }
  .feature-list {
    width: auto;
    margin: 0;
  }
  .feature-content-heading h2 {
    font-size: 32px;
  }
  .feature .row {
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .feature {
    padding: 30px 0 120px;
  }
  .feature-content-heading {
    padding-right: 50px;
}
.feature-content-heading h2 {
  font-size: 35px;
  line-height: 50px;
}
.feature-content-heading p{
  line-height: 30px;
}
}
/* || Feature Section */

/* || Plan Section */
.plan {
  padding: 80px 0;
  background-color: #fbfbfb;
}
.plan-list {
  margin-top: 60px;
}
.plan-list-item {
  margin: 0 50px;
  padding: 80px 0 50px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
}
.plan-list-item-header {
  width: 145px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
.plan-list-item-header h3 {
  font-weight: 500;
  font-size: 18px;
  margin-top: 30px;
}
.plan-list-item-details li svg {
  margin-right: 20px;
}
.plan-list-item-details {
  width: 182px;
  margin: 0 auto;
}
.col-12:nth-child(2) .plan-list-item{
  margin-top: 50px;
  margin-bottom: 50px;
}
.pricing {
  font-weight: 500;
  font-size: 25px;
  margin: 80px 0 20px;
  text-align: center;
}
.plan-btn {
  width: 178px;
  height: 45px;
  line-height: 42px;
  margin: 0 auto;
  border-width: 2px;
  font-weight: 700;
  padding: 0;
}
.col-12:last-child .plan-list-item .plan-btn{
  background-color: #F53855;
  color: #fff;
  box-shadow: 0px 4px 5px rgb(245 56 56 / 50%);
}
.col-12:last-child .plan-list-item .plan-btn:hover {
  color: #F53855;
  border-color: #F53855;
  background-color: transparent;
}
@media (min-width: 768px){
  .col-12:nth-child(2) .plan-list-item{
    margin-top: 0;
    margin-bottom: 0;
  }
  .plan-list-item {
    height: 760px;
    margin: 0;
    justify-content: space-between;
  }
  .pricing {
    margin-top: 0; 
  }
  .plan-list-item-details{
    flex-grow: 1;
  }
  .plan-section-heading {
    text-align: center;
    max-width: 555px;
    margin: 0 auto;
  }
}
/* || Plan Section */
/* || Global Section */
.global{
  padding: 80px 0;
}
.global-section-heading{
  margin-bottom: 100px;
}
/* || Global Section */
/* || Partners Section */
.partners {
  padding: 50px;
}
.col-12:not(:last-child) .partners-logo {
  margin-bottom: 60px;
}
@media (min-width: 576px){
  .partners .row{
    justify-content: center;
  }
} 
@media (min-width: 992px){
  .partners {
    padding: 80px;
  }
  .partners .row{
    justify-content: space-between;
  }
} 
/* || Partners Section */
/* || Review Section */
.review {
  padding: 80px 0;
}
.review-section-heading {
  margin-bottom: 60px;
}
.each-review {
  height: 250px;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #DDDDDD;
  cursor: pointer;
  transition: border-color 0.3s linear;
}
.each-review:hover,
.each-review.active {
  border: 2px solid var(--first-color);
}
.client-image{
  margin-right: 21px;
}
.client-rating svg {
  margin-left: 10px;
}
.client-info {
  display: flex;
}
.client-name p:first-child{
  font-weight: 500;
  color: var(--second-color);
  font-size: 18px;
}
.client-name p:last-child{
  line-height: 30px;
  color: #4F5665;
  font-size: 14px;
}
.each-review-top {
  display: flex;
  justify-content: space-between;
}
.each-review-bottom {
  text-align: center;
  margin-top: 20px;
  line-height: 30px;
  color: var(--second-color);
}
.all-controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.btn-nav,
.dots-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  list-style: none;
}
.btn-nav {
  order: 1
}

.dots-nav .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #DDE0E4;
    display: inline-block;
    cursor: pointer;
  }
.dots-nav .dot.slick-active{
    width: 45px;
    background-color: var(--first-color);
    border-radius: 15px;
}
.btn-nav li{
  width: 60px;
  height: 60px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;

}
.btn-nav li:first-child{
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
  margin-right: 20px;
}
.btn-nav li:last-child{
  color: white;
  background-color: var(--first-color);
}
.all-controls{
  margin: 80px 0;
}
@media (min-width: 768px){
  .each-review {
    margin: 0 15px;
  }
}
/* || Review Section */