p {
  margin: 0;
}

:root {
  --first-color: #F53838;
  --second-color: #0B132A;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #fff;
}

/* || Navbar start */
.navbar-light .navbar-nav .nav-link {
  color: #4F5665;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #F53855
}

.navbar-nav {
  align-items: center;
}

.navbar-light .navbar-toggler {
  color: #F53855;
}

.nav-btn {
  font-weight: 500;
}

.btn-outline-signup {
  color: #F53855;
  border-color: #F53855;
  padding: 0.5rem 1.5rem;
}

.btn-outline-signup:hover {
  background-color: #F53855;
  color: #fff;
}

.nav-btn a.nav-link {
  color: var(--second-color);
  cursor: pointer;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }

  .btn-outline-signup {
    margin-left: 15px;
  }

  .navbar-expand-lg {
    padding: 1rem 0;
  }
}

@media (min-width: 1200px) {
  .btn-outline-signup {
    margin-left: 25px;
    padding: 0.5rem 2.5rem;
  }

  .navbar-expand-lg {
    padding: 1.4rem 0;
  }
}

/* || Navbar end */

/* || Hero start */
.hero {
  padding: 2rem 0;
}

.hero-content {
  text-align: center;
  margin-top: 30px;
}

.hero-content h1 {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--second-color);
}

.hero-content p {
  color: #4F5665;
  margin: 30px 0 25px;
  font-size: 0.9rem;
}

.hero-btn {
  padding: 1rem 3rem;
  background-color: var(--first-color);
  color: #fff;
  font-weight: 600;
  box-shadow: 0px 4px 5px rgb(245 56 56 / 50%);
}

.hero-btn:hover {
  color: var(--first-color);
  border: 1px solid var(--first-color);
  background-color: #fff;
}

@media (min-width: 768px) {

  .hero {
    padding: 4rem 0;
  }

  .hero-content {
    text-align: left;
    margin-top: 0;
  }

  .hero-content h1 {
    font-size: 2.6rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-btn {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .hero-content h1 {
    font-size: 3.2rem;
  }

  .hero-content p {
    margin: 30px 0;
  }
}

@media (min-width: 1400px) {
  .hero-content h1 {
    font-size: 3.8rem;
  }

  .hero-content p {
    font-size: 1.2rem;
    padding-right: 20px;
  }
}

/* || Hero end */

.icon-groups {
  padding: 0 0 2rem;
}

.icon-box {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #EEEFF2;
  padding: 60px 0;
  margin: 0 auto;
  width: 200px;
}

.icon-groups .row .col-12:last-child .icon-box{
  border: none;
}
.underlay {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFECEC;
  color: var(--first-color);
  margin-right: 50px;
  justify-self: flex-start;
}
.underlay > svg {
  width: 25px;
  height: 25px;
}

.icon-content p:first-child {
  font-weight: 700;
  font-size: 25px;
  
}

.icon-content p:last-child {
  font-size: 20px;
}

@media (min-width: 768px) {
  .icon-groups {
    padding: 1rem 0;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 25%);
    margin:0 40px 100px;
  }
  .icon-box{
    border-bottom: none;
    border-right: 2px solid #EEEFF2;
    padding: 35px 0;
    width: auto;
  }
  .underlay {
    margin-right: 20px;
  }
  .icon-content{
    width: auto;  
    text-align: center;
  }
  .icon-groups .row .col-md-4:last-child .icon-box{
    padding-right: none;
  }
  .icon-groups .row .col-md-4:first-child .icon-box{
    padding-left: none;
  }
}

@media (min-width: 992px) {
  .icon-groups {
    width: 75%;
    margin: 0 auto 100px;
  }
}

@media (min-width: 1400px) {
  .icon-groups {
    max-width: 1140px;
    margin: 0 auto 100px;
  }
}